.app{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    
}

.appContainer{
    width: 500px;
}

.app .appContainer .appTitle{
    margin: 2rem 0;
    text-align: center;
    color: #fff;
}